@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Latte Shop</h1>
    <p class="lead">Coffee Shop with a DataBase and product page</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

